@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0052ff; /* Base blue */
  --primary-foreground: #ffffff;
  --secondary: #e5e7eb;
  --secondary-foreground: #1f2937;
  --accent: #0052ff33; /* Base blue with opacity */
  --accent-foreground: #0052ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0052ff; /* Base blue */
    --primary-foreground: #ffffff;
    --secondary: #1f2937;
    --secondary-foreground: #e5e7eb;
    --accent: #0052ff33; /* Base blue with opacity */
    --accent-foreground: #0052ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#0052FF] text-white hover:bg-[#0045d6] transition-colors;
  }

  .btn-secondary {
    @apply bg-gray-100 text-gray-800 border border-gray-300 hover:bg-gray-200 transition-colors;
  }
}
